.main {
  font-family:'Open Sans', sans-serif; ;
  min-height: 100vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2 {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elm {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-family:'Open Sans', sans-serif; 
  min-height: 100vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100% ;
  padding-bottom: 10px;
  flex:1;
  text-align: center;

}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100% ;
  margin-top: 10px;
  margin-bottom: 25px;
}
.social button{
  width:225px ;
  height: 50px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  position: relative;
  font-size: 16;
}



.cards2{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 15px;
box-shadow: 0px 1px 6px 3px rgba(71,71,71,0.11);}

.cards2 span{
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 250px;
  padding: 8px;
  color :grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .cards2 p{
    margin-top: 15px;
    color:white
    }
  
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 15px;
      }
      
      .cards span{
        background-color: white;
        margin: 10px;
        width: 250px;
        height: 250px;
        padding: 5px;
        color :grey;
        box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.46);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
      
        .cards p{
          color:white
          }


.part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100% ;
  padding: 10px;
  text-align: center;
}

.log{
  display: flex;
  margin: 15px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100% ;
  padding: 10px;
  text-align: center;
}

.part p{
  text-align: center;
  color:  #02558D;

}

  .part ul{
    color:  #02558D;

  }

    .homdiv {
      background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url("../image/teahome.png")no-repeat;background-size:cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: start;
      background-color:  #02558D;
      align-items: center;
      width: 100%;
      padding: 10px;
      text-align: center;
      min-height: 100vh;
    }
        .homdiv h1 {
          color: white;
          font-size: 2.9em;
          margin-bottom: 15px;
          margin-top: 10px;
        }
        .homdiv h2 {
          color: white;
          font-size: 1.8em;
          margin-bottom: 15px;
          margin-top: 10px;
        }
        .homdiv button {
    
              border-radius: 100px;
              min-width: 200px;
              height: 50px;
              background-color:white ;
              border: none;
              color:  #02558D;
              font-size: 22px;
              font-weight: bold;
              box-shadow: 0px 0px 0px 8px rgb(255, 255, 255);
              margin-top: 50px;
        }
.h1{
  color:  #02558D;
  font-size: 40px;
  margin-bottom: 0;
}

.h2{
  color:  #02558D;
}

.login{
display: flex;
flex-direction: column;
width: 80%;
max-width:500px ;

}

.login input{
  height: 50px;
  margin: 10px;
  width: 90%;
  max-width: 500px;
  padding-left: 25px;
  font-size: 18px;
  outline: none;
  border: solid 1px  #02558D
  }
  


.action{
  padding:15px;
  border-radius: 100px;
  min-width: 225px;
  background-color:  #02558D;
  border: none;
  color: white;
  font-size: 20px;
  box-shadow: 0px 0px 0px 8px rgba(2,85,141,0.25);
  margin: 15px;

}

.noaction{
  padding:15px;
  border-radius: 100px;
  min-width: 225px;
  background-color: grey;
  border: none;
  color: white;
  font-size: 18px;
  margin: 15px;

}

.action2{
  padding:15px;
  border-radius: 100px;
  min-width: 225px;
  border: none;
  font-size: 18px;
  margin: 15px;

}


.bingo{
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.1em;
height: 60px;
width: 90%;
max-width: 500px;
padding: 10px;
padding-left: 15px;
border: solid 1px  #D2D2D2;
border-radius: 5px;
margin-top: 15px;
outline: none;
background-color: white;
margin-bottom: 15px;

}

.block small{

 text-decoration: underline;
  
  }


.bingo input{
  height: 100%;
  margin: 10px;
  width: 90%;
  max-width: 500px;
  font-size: 16px;
  outline: none;
  border: none;
  }


.input{
  height: 50px;
  margin: 10px;
  width: 90%;
  max-width: 500px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  border: solid 2px  #02558D;
  border-radius: 5px;
}


 .export {
 
  position: relative;
  background-color: red;

 }


  .export img {

    margin: 25px;
  }

.modal {
  font-family:'Open Sans', sans-serif; 
  display:"flex";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 25px;
  width: 500px;
  height: 300px;
  background-color: #488a6b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal h2{

  color: #02558D
}

.modal p{

  color: #1D1D1D
}

.modal input{
  border-radius: 8px;
  border:solid 1px  #02558D;
  font-size: 19px;
}

.floating{
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}





@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
